/* Reset */
/* ------------------------ */
* {
	margin: 0;
	padding: 0;	
}

p {
	line-height: 1.5;
	margin-bottom: 15px;
	margin-top: 15px;
	font-family:'gotham', arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: justify;
	font-size: 14px;

}


/* Layout */
/* ------------------------ */

body {
	background-color:#f6f6f6;
	color:#1b1b1b;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;

}

/* Headings */
/* ------------------------ */
header {
	
	text-align: center;
	text-transform: uppercase;
	background:#d2d2d2;
	padding: 25px 0px 25px 0px;
	height: 100px;
}




header li {
	display: inline;
	padding:0px 10px 0px 10px;
	font-family: 'gotham', arial;
	letter-spacing: 1px;
	background-color: #d2d2d2;
}



a {
	text-decoration: none;
	color: #1b1b1b;
}

a:hover {
	text-decoration: none;
	color:#455F6C;
}

h1,h2,h3,h4 {
	font-family: 'gotham medium', 'gotham', arial;
	text-transform: uppercase;

}

h1{
	text-align: center;
	font-size: 42px;
	font-family:'gotham bold', arial black, arial;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 15px;
	background-color: #d2d2d2;
}

h2 {
	margin-bottom: 15px;
	text-align: center;
}

h3 {
	text-align: left;
	font-size: 16px;
}




/*Content */
/* ----------------------- */

div {
	max-width:980px;
	padding: 0 25px;
	margin:25px auto;

}

.resumeSection {
	padding-top: 15px;
    padding-bottom: 15px;
}

.job {
	display: list-item;
	list-style-type: none;
	padding-top: 0px;
	padding-bottom:15px; 
}

.role {
	display: inline;
	font-family: 'gotham bold', arial black;
	color:#1A1A1A;
	font-size: 14px;

}
 
.company {
	display: inline;
	color: #5f5f5f;
	font-size: 14px;
	font-family: 'gotham', 'gotham light', arial;
}

.years {
	display: inline;
	color: #8d8d8d;
	font-size: 14px;
	font-family: 'gotham', 'gotham light', arial;


}

.explain {
	display: block;
	font-family: 'gotham', 'gotham light', arial;
	padding-top: 15px;
	padding-left: 15px;
	letter-spacing: 1px;
	font-size: 14px;


}

.education {
	display: list-item;
	list-style-type: none;
	padding-top: 0px;
	padding-bottom:15px; 
	font-family: 'gotham', 'gotham light', arial;
}

.school {
	display: block;
	padding-top: 15px;
	padding-bottom:15px;
	font-family: 'gotham', 'gotham light', arial;
}


.aboutImg {
	display: block;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
	border-radius: 50%;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .3s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .3s ease-in-out;


}


.aboutImg:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -o-transition: .3s ease-in-out;
 

}



.bottomImg {
	display: flex;
	padding:0px;

}

.bottomImg div {
	padding: 0px;
	display: inline-flex;

}

.bottomImg div img {

	margin: 0 auto;
}

.icons{
	border-radius: 50%;	
	width: 50%;
	height: 50%
	
	
}

.icons:hover{

	background:#000000;
	opacity: 0.5;
	
}






/* Footer Links */
/* ------------------------- */

footer {
	height: 15px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 25px;
	color: #A2B1C5;
	font-size: 12px;
	max-width: 90%;


}

.copyright {
	float: left;
}


footer li {
	display: inline;
	padding:0px 10px 0px 10px;
	font-family: 'gotham', arial;
	letter-spacing: 1px;
}

footer li {
	float:right;
}



/* media query */
/* ----------------------- */

@media (min-width: 600px) {
    .copyright {
        display: block;
        max-width: 100%;
        text-align: center;
        }

     .social {
     	display: block;
     	max-width: 100%;
     	text-align: center;
     }
   }






