
body {
	background-image: url('http://retrominder.tv/assets/img/bg/fond_bleu.jpg');
	z-index: 0;
}

h1{
    margin: 25px auto 15px auto;
	width: 50%
}
h1 img {
width: 90%;
}

h2 {
	color:#EA2D85;
	font-family: 'Rock Salt', cursive;
	font-size: 34px;
	line-height: 42px;
}

h3 {
	color:#EC2E44;
	font-family: 'Rock Salt', cursive;
	font-size: 42px;
	line-height: 60px

}




/*HEADER STYLING*/

/*CONTANER STYLING*/

.game-show {
	display:flex;
	height: 100vh;
	color:#fff;
}

.rupaul{
	flex:1;
	height: 100%;
}

.rupaul img {
	height: 100%;
}

.question-area {
	flex:3;
	height: 100vh;
	padding: 25px 25px 0 25px;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	text-align: center;


}

.question{
	 color: #03c4e4;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 32px;
    margin:25px 0;
}



ul,ol {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin:15px 0;
}


li {
	flex: 1;

}

li img {
	width: 75%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px #ea2d85;
    margin-bottom: 15px;

}

li p {
	text-align: center;
    color: #ea2d85;
    letter-spacing: 2px;
    font-size: 12px;
   	font-family: 'Rock Salt', cursive;

}

li img:hover {

    box-shadow: 0px 0px 10px 10px #03c4e4;

}

li p:hover {
    color: #03c4e4;
}



/*FOOTER STYLING*/
