div {
    font-family: "Lato", Arial, sans-serif;
    padding: 60px 45px;
    letter-spacing: 1px;
}

/*HEADERS*/

h1 {
	color:#DC3933;
	font-weight: 400;
	font-size: 52px;
	padding-bottom: 15px;
}

h2 {
	font-weight: 400;
	font-size: 24px;
	padding-bottom: 15px;
}

h3 {
	font-size: 36px;
    font-weight: 400;
    padding:20px 0;
}


/*HEADER*/


ul {
	display: flex;
	list-style-type: none;
	justify-content: flex-start;
}

.menu {
	padding-bottom: 50px;
}



.menu li a{
	color:#999999;
	text-decoration: underline;
	font-size: 22px;
	padding: 0 15px;

}
.menu li a:first-child {

	padding-left:0px;

}





/*SECTION*/


ol {
	list-style-type:none;
}

ol li {
	border-bottom: 1px solid #999999;
	padding-bottom: 35px;
	margin-bottom: 50px;
}

ol li a {
	text-decoration: none;
	color:#DC3933;
	font-weight: 700;
	font-size: 18px;
	justify-content: flex-end;
}


.date {
	font-size: 32px;
	font-weight: 400;
	color: #999999;
}

img {
	width: 100%;
	padding-bottom: 15px;
}

.article {
	font-size: 16px;
	padding-bottom: 25px;
	line-height: 35px;
}

.article:first-letter {
	color: #999999;
	float: left;
	font-size: 150px;
    line-height: 110px;
    margin:0px 8px;
    
}


.continue {
	text-align: right;

}
/*FOOTER*/

footer ul {
	margin-bottom: 25px;
}
footer ul li {
	border-right: 1px solid #999;
	padding:0 5px;

}
footer ul li:last-child {
	border-right: none;

}

footer ul li a {
	text-decoration: none;
	color: #DC3933;
	font-weight: 500;


}

footer p.copyright{
	font-color: gray;
	font-size: 18px

}





/*MEDIA QUERY*/


@media (max-width: 770px) {

	header,
	footer {
		text-align: center;
	}

	footer ul li {
		border:none;
	}

	ul {
	flex-direction: column;
}


	.menu li a{
	color:#999999;
	text-decoration: none;
	font-size: 22px;
	padding-bottom: 15px;
	text-align: center;

	}

}











