/* Reset */
/* ------------------------ */
* {
	margin: 0;
	padding: 0;	
}

p {
	line-height: 1.5;
	margin-bottom: 15px;
	margin-top: 15px;
	font-family: gotham light, arial;
	letter-spacing: 1px;
	text-align: justify;
	font-size: 14px;

}


/* Layout */
/* ------------------------ */

body {
	background-color:#f6f6f6;
	color:#1b1b1b;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;

}

/* Headings */
/* ------------------------ */
header {
	
	text-align: center;
	text-transform: uppercase;
	background-color:#d2d2d2;
	padding: 25px 0px 25px 0px;
}

.title {
	font-size: 42px;
	font-family: gotham bold, arial black, arial;
	letter-spacing: 2px;
	text-align: center;


}


li {
	display: inline;
	padding:0px 10px 0px 10px;
	font-family: gotham medium, gotham, arial;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: #1b1b1b;
}

a:hover {
	text-decoration: none;
	color:#455F6C;
}

h1,h2,h3,h4 {
	font-family: gotham medium, gotham, arial;
	text-transform: uppercase;

}

h1{
	text-align: center;
}


/*Content */
/* ----------------------- */

.content {
	max-width:980px;
	margin:25px auto 25px auto;

}

.job {
	display: list-item;
	list-style-type: none;
	padding-top: 15px;
	padding-bottom:15px; 
}

.role {
	display: inline;
	font-family: gotham bold, arial black;
	color:#1A1A1A;
	font-size: 16px;

}
 
.company {
	display: inline;
	color: #5f5f5f;
	font-size: 14px;
	font-family: gotham light, arial;
}

.years {
	display: inline;
	color: #8d8d8d;


}

.explain {
	display: block;

}

.education {
	display: list-item;
	list-style-type: none;
	padding-top: 15px;
	padding-bottom:15px; 
}

.school {
	display: block;
	padding-top: 15px;
	padding-bottom:15px;
}

.aboutImg {
	display: block;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
	border-radius: 50%;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .3s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .3s ease-in-out;


}


.aboutImg:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -o-transition: .3s ease-in-out;
 

}

/* Footer Links */
/* ------------------------- */

footer {
	height: 15px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 25px;
	color: #A2B1C5;
	font-size: 12px;
	max-width: 90%;


}

.copyright {
	float: left;
}

.social {
	float: right;
}

@media (max-width: 600px) {
    .copyright {
        display: block;
        max-width: 100%;
        text-align: center;
        }

     .socila {
     	display: block;
     	max-width: 100%;
     	text-align: center;
     }
   }






