

/*GENERAL STYLING*/



.tv-border {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: url("../img/assets/tv-border.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  z-index: 100;
  pointer-events: none;

}





.hide {
	display: none;
}







body {
	background-image: url('../img/assets/background-default.jpg');
	z-index: 0;
}

h1{
    margin: 25px auto 15px auto;
	width: 50%
}
h1 img {
width: 90%;
}

h2 {
	color:#EA2D85;
	font-family: 'Rock Salt', cursive;
	font-size: 34px;
	line-height: 42px;
}

h3 {
	color:#EC2E44;
	font-family: 'Rock Salt', cursive;
	font-size: 42px;
	line-height: 60px

}




/*HEADER STYLING*/

/*CONTANER STYLING*/


.container {


}


.start-screen {
	margin:100px;
}

.start-screen h1 {
	margin-left:auto;
	margin-right:auto;
    width: 70%;
}

.start-screen img {
	width:100%;
}


.start-screen button {
	display: block;
	width: 200px;
	font-family: 'Rock Salt', cursive;
	font-size: 42px;
	color: #03c4e4;
	background:none;
	border: none;
	margin: 0 auto;
	letter-spacing: 3px;
	text

}

.start-screen button a {
	color: #03c4e4;
	text-decoration: none;

}






/*---QUESTION SCREEN STYLING---*/

.game-show {
	display:flex;
	height: 100vh;
	color:#fff;
}

.rupaul{
	flex: 1;
	height: 100%;
}

.rupaul img {
	height: 100%;
	padding:25px;
}

.question-area {
	flex:2;
    margin-right:75px;
    margin-top:25px;
   	color: #fff;
	font-family: 'Gotham', arial;
	text-align: center;
	max-height: 798px;


}

.question{
	color: #03c4e4;
    letter-spacing: 2px;
    font-size: 20px;
    margin:25px auto;
}



ul,ol {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin:15px 0;
}


li {
	flex: 1;

}

li img {
	width: 75%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px #ea2d85;
    margin-bottom: 15px;

}

li p {
	text-align: center;
    color: #ea2d85;
    letter-spacing: 2px;
    font-size: 12px;
   	font-family: 'Rock Salt', cursive;

}

li img:hover {

    box-shadow: 0px 0px 10px 10px #03c4e4;

}

li p:hover {
    color: #03c4e4;
}






/*FOOTER STYLING*/














