

/*GENERAL STYLING*/

.tv-border,
.screens,
.video-background,
.alert-overlay,
.mute-button {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}


.mute-button {
	z-index: 500;
}

.mute-button img {
	width: 25px;
	position: absolute;
    left: 95%;
    bottom: 5%
}
.alert-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 400;

}
.alert-overlay.hide {
	display: none;
}

.tv-border {
  background: url("../img/assets/tv-border.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  z-index: 300;
  pointer-events: none;

}

.screens {
  z-index: 200;
}

.video-background {
  z-index: 100;
  width: 100%
}

.video-background video {
	width: 100%;
	height: 100vh;
	margin-left:auto;
	margin-right: auto;
}

.hide {
	display: none;
}







body {
	background-image: url('../img/assets/background-default.jpg');
	z-index: 0;
}

h1{
    margin: 25px auto 15px auto;
	width: 50%
}
h1 img {
width: 90%;
}

h2 {
	color:#EA2D85;
	font-family: 'Rock Salt', cursive;
	font-size: 34px;
	line-height: 42px;
}

h3 {
	color:#EC2E44;
	font-family: 'Rock Salt', cursive;
	font-size: 42px;
	line-height: 60px

}




/*HEADER STYLING*/

/*CONTANER STYLING*/
.container {


}


/*--- START SCREEN ---*/
.start-screen {
	margin:100px;
}

.start-screen h1 {
	margin-left:auto;
	margin-right:auto;
    width: 70%;
}

.start-screen img {
	width:100%;
}


.start-screen button {
	display: block;
	width: 200px;
	font-family: 'Rock Salt', cursive;
	font-size: 42px;
	color: #03c4e4;
	background:none;
	border: none;
	margin: 0 auto;
	letter-spacing: 3px;
	text-shadow: 2px 2px #000000
}

.start-screen button:focus {
outline: none;
border: none;
}

.start-screen button a {
	color: #03c4e4;
	text-decoration: none;

}



/*--- SEASON SCREEN ---*/

.season-area {
	display:flex;
	height: 100vh;
	color:#fff;
}



.season-choices {
	flex:2;
    margin-right:75px;
    margin-top:25px;
   	color: #fff;
	font-family: 'Gotham', arial;
	text-align: center;
	max-height: 798px;

}


.season-choices .options {
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin:15px auto;
	max-width:575px;
}


.season-choices .options li {
	width:20%;
	padding:0 15px;
}

.season-choices .options img {
	width:100%;
	border-radius: 50%;
    box-shadow: 0px 0px 10px 10px #ea2d85;
}

.season-choices .options p {
	font-family: 'Rock Salt', cursive;
    font-size: 12px;
    color: #02D0F2;
    text-shadow: 1px 1px #000000

}

/*---QUESTION SCREEN STYLING---*/

.game-show {
	display:flex;
	height: 100vh;
	color:#fff;
}

.rupaul-season, 
.rupaul-question{
	flex: 1;
	height: 100%;
	max-width: 600px;
}

.rupaul-season img, 
.rupaul-question img {
	height: 100%;
	padding:25px;
	margin:0 auto;
}

.question-area {
	flex:2;
    margin-right:75px;
    margin-top:25px;
   	color: #fff;
	font-family: 'Gotham', arial;
	text-align: center;
	max-height: 798px;


}

.question{
	color: #03c4e4;
    letter-spacing: 2px;
    font-size: 20px;
    margin:25px auto;
    text-shadow: 1px 1px #000000
}



.question-area ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin:15px 0;
}


.question-area ul li {
	width:20%;

}

.question-area ul li img {
	width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px #ea2d85;
    margin-bottom: 15px;

}

.question-area ul li p {
	text-align: center;
    color: #ea2d85;
    letter-spacing: 2px;
    font-size: 12px;
   	font-family: 'Rock Salt', cursive;
    text-shadow: 1px 1px #000000

}

.question-area ul li img:hover {

    box-shadow: 0px 0px 10px 10px #03c4e4;

}

.question-area ul li p:hover {
    color: #03c4e4;
}






/*FOOTER STYLING*/














